.c-btn {
  border:none;
  border-radius: $border-radius;
  display: inline-block;
  font-size: $font-size-5;
  font-weight: 700;
  line-height: $line-height-base;
  padding: .75rem 0;
  text-align: center;
  text-transform: uppercase;
  width: $grid-base * 22;

  &:hover {
    text-decoration: none;
  }

}