.c-btn {
  border:none;
  border-radius: $border-radius;
  display: inline-block;
  font-size: $font-size-5;
  font-weight: 700;
  line-height: $line-height-base;
  padding: .75rem 0;
  text-align: center;
  text-transform: uppercase;
  width: $grid-base * 22;
  // color: red;

  &:hover {
    text-decoration: none;
  }

  &--primary {
    background-color: $blue-light;
    color: $blue-text;

    &:hover {
      background-color: darken($blue-light, 15%);
      color: $white;
    }
  }

}