.t-site-header {
  background: url('../../images/header-tlo.jpg') 0 0 no-repeat;

  &__top {
    padding-bottom: $grid-base * 2.5;
    padding-top: $grid-base * 2.5;
  }

  &__menu {
    margin-top: $grid-base * 2;

    @include large-up {
      margin-top: 0;
      // justify-content: space-around;
      text-align: right;
    }
  }

}