.o-col {
  width: 100%;
  padding-left: $gutter; // Odstęp między kolumnami
  padding-right: $gutter; // Odstęp między kolumnami

  &--md50 {
    @include medium-up {
      flex: 0 0 50%;
    }
  }

}